@{
    ViewBag.Title = "Drinks";
    Layout = "~/Views/Shared/_LayoutBS.cshtml";
}
<style>
    
</style>
<div class="container-fluid">
    <div class="row">
        <div class=" col-lg-7" style="color: #354F52; width: 700px; display:block ;margin-top: 200px;margin-left:100px ; " >
    

                <h1> <span style="color: #bf9369; font-size: 36pt; letter-spacing: inherit;">Về KATINAT</span></h1>
            <p></p>
                <h2 style="letter-spacing: inherit;font-size:20px">
                    KATINAT Coffee & Tea House – HÀNH TRÌNH CHINH PHỤC PHONG VỊ MỚI                   
                </h2>
                <p>
                    Hành trình luôn bắt đầu từ việc chọn lựa nguyên liệu kỹ càng từ các vùng đất trù phú, cho đến việc bảo quản, pha chế từ bàn tay nghệ nhân. Qua những nỗ lực không ngừng, KATINAT luôn hướng đến...
                </p>
            
        </div>
        <div class=" col-lg-5" style="text-align: center";>
            <img src="~/Content/Image/hình nv.jpeg" style="width: 500px; margin-top: 50px; " />
        </div>
    </div>
</div>