
@{
    ViewBag.Title = "Drinks";
    Layout = "~/Views/Shared/_LayoutBS.cshtml";
}

<h2 style="text-align:center">Drinks</h2>
<style>
    .box-drinks, .fm-drink {
        height: 150px;
        width: 150px;
        border-radius:10px;

    }
    .box-dess {
        height: 150px;
        width: 150px;
        border-radius: 10px;
        background-color:saddlebrown;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-2" style="margin-bottom:10px;">
            <div class="box-drinks">
                <img src="~/Content/Image/com-tron-han-quoc.jpg" class="fm-drink" />
            </div>
            <div class="box-dess">
                <p>Tên sản phảm: Cơm trộn hàn quốc</p>
                <p>Giá bán: 150000 VNĐ</p>
                <p>Đã bán: ?</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2" style="margin-bottom:10px;">
            <div class="box-drinks">
                <img src="~/Content/Image/com-tron-han-quoc.jpg" class="fm-drink" />
            </div>
            <div class="box-dess">
                <p>Tên sản phảm: Cơm trộn hàn quốc</p>
                <p>Giá bán: 150000 VNĐ</p>
                <p>Đã bán: ?</p>
            </div>

        </div>
        <div class="col-sm-6 col-md-3 col-lg-2" style="margin-bottom:10px;">
            @*stt_sp chứ_được_6_sản_phẩm(col-md-6 col-lg-2)_đủ_12  *@
            <div class="box-drinks">
                <img src="~/Content/Image/com-tron-han-quoc.jpg" class="fm-drink" />
            </div>
            <div class="box-dess">
                <p>Tên sản phảm: Cơm trộn hàn quốc</p>
                <p>Giá bán: 150000 VNĐ</p>
                <p>Đã bán: ?</p>
            </div>

        </div>
        <div class="col-sm-6 col-md-3 col-lg-2" style="margin-bottom:10px;">
            @*stt_sp chứ_được_6_sản_phẩm(col-md-6 col-lg-2)_đủ_12  *@
            <div class="box-drinks">
                <img src="~/Content/Image/com-tron-han-quoc.jpg" class="fm-drink" />
            </div>
            <div class="box-dess">
                <p>Tên sản phảm: Cơm trộn hàn quốc</p>
                <p>Giá bán: 150000 VNĐ</p>
                <p>Đã bán: ?</p>
            </div>

        </div>
        <div class="col-sm-6 col-md-3 col-lg-2" style="margin-bottom:10px;">
            @*stt_sp chứ_được_6_sản_phẩm(col-md-6 col-lg-2)_đủ_12  *@
            <div class="box-drinks">
                <img src="~/Content/Image/com-tron-han-quoc.jpg" class="fm-drink" />
            </div>
            <div class="box-dess">
                <p>Tên sản phảm: Cơm trộn hàn quốc</p>
                <p>Giá bán: 150000 VNĐ</p>
                <p>Đã bán: ?</p>
            </div>

        </div>
        <div class="col-sm-6 col-md-3 col-lg-2" style="margin-bottom:10px;">
            @*stt_sp chứ_được_6_sản_phẩm(col-md-6 col-lg-2)_đủ_12  *@
            <div class="box-drinks">
                <img src="~/Content/Image/com-tron-han-quoc.jpg" class="fm-drink" />
            </div>
            <div class="box-dess">
                <p>Tên sản phảm: Cơm trộn hàn quốc</p>
                <p>Giá bán: 150000 VNĐ</p>
                <p>Đã bán: ?</p>
            </div>

        </div>
        <div class="col-sm-6 col-md-3 col-lg-2" style="margin-bottom:10px;">
            @*stt_sp chứ_được_6_sản_phẩm(col-md-6 col-lg-2)_đủ_12  *@
            <div class="box-drinks">
                <img src="~/Content/Image/com-tron-han-quoc.jpg" class="fm-drink" />
            </div>
            <div class="box-dess">
                <p>Tên sản phảm: Cơm trộn hàn quốc</p>
                <p>Giá bán: 150000 VNĐ</p>
                <p>Đã bán: ?</p>
            </div>

        </div>
        <div class="col-sm-6 col-md-3 col-lg-2" style="margin-bottom:10px;">
            @*stt_sp chứ_được_6_sản_phẩm(col-md-6 col-lg-2)_đủ_12  *@
            <div class="box-drinks">
                <img src="~/Content/Image/com-tron-han-quoc.jpg" class="fm-drink" />
            </div>
            <div class="box-dess">
                <p>Tên sản phảm: Cơm trộn hàn quốc</p>
                <p>Giá bán: 150000 VNĐ</p>
                <p>Đã bán: ?</p>
            </div>

        </div>
    </div>

</div>